@font-face {
  font-family: "Inter";
  src: url(assets/Inter-VariableFont_slnt,wght.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto mono";
  src: url(assets/RobotoMono-VariableFont_wght.ttf) format("truetype");
}

/* CSS RESET /
  http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1 {
  margin: 0;
}
/*  CSS RESET */

* {
  font-family: "Inter";
}

body {
  display: flex;
  background-color: #f5f5f5;
}

.sidebar-img-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("assets/preethi-viswanathan-GCof3Y8EO8o-unsplash.jpg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 40vw;
}

.sidebar-head {
  display: flex;
  align-items: center;
  margin-top: 30%;
  background-color: rgba(0, 0, 0, 0.616);
  padding-top: 8px;
  padding-bottom: 8px;
}

.sidebar-head > * {
  margin-inline: 4px;
}

.sidebar-head img {
  width: 100px;
  height: 100px;
  margin-left: 100px;
}

.sidebar-head h1 {
  height: fit-content;
  font-size: 50px;
  color: aliceblue;
  margin-right: 100px;
}

.italics {
  font-style: italic;
}

.intro {
  margin-top: 10%;
  padding: 32px;
}

.intro > * {
  font-weight: 600;
  margin-bottom: 16px;
}

.intro {
  width: 40%;
}

.form-wrapper {
  background-color: white;
  padding: 16px;
  box-shadow: 1px 3px 3px rgba(177, 174, 174, 0.568);
}

.form-wrapper h2 {
  width: fit-content;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 16px;
  padding-left: 6px;
}

.form {
  display: flex;

}

.form-row {
  padding: 6px;
  display: flex;
  flex-flow: column wrap;
  width: 40%;
}

.form-col {
  margin-inline: 16px;
  display: flex;
  flex-flow: column wrap;
}

label {
  font-family: "Roboto mono";
  font-size: x-small;
  margin-bottom: 2px;
}

input {
  appearance: none;
  border: 1px solid rgba(177, 174, 174, 0.568);
  border-radius: 3px;
}

input[type="password"] {
  font-size: x-small;
  padding-bottom: 4px;
}

input:focus {
  border: 1px solid blue;
  outline: none;
  box-shadow: 1px 3px 3px rgba(177, 174, 174, 0.568);
}

input:invalid {
  border: 1px solid red;
}

button {
  appearance: none;
  background-color: #596D48;
  border: 1px solid #596D48;
  border-radius: 5px;
  padding-inline: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-size: small;
  margin-top: 20px;
  margin-left: 32px;
  box-shadow: 1px 3px 3px rgba(177, 174, 174, 0.568);
}

.main-footer p {
  font-weight: 500;
  font-size: smaller;
  padding: 32px;
}

a {
  color: #596D48;
}